<section id="banner">
  <div class="content primary inner">
    <header>
      <h1>
        <span class="shrink">{{ banner.text.title }}</span>
      </h1>
      <p>{{ banner.text.copy }}</p>
    </header>
  </div>

  {# {% if banner.features %}
  <div class="content secondary inner">
      <div class="features">
        {% for item in banner.features %}
        <section>
          <div class="icon major">
            <i class="{{ item.icon }}"></i>
          </div>
          <h3>
            {{ item.heading }}
          </h3>
          <p>{{ item.caption }}</p>
        </section>
        {% endfor %}
      </div>
  </div>
  {% endif %} #}

  <div class="content secondary inner">
    <div class="cta-microcopy">
      <div  class="microcopy">
        <p>{{ banner.text.ctaMicroCopy | safe }}</p>
      </div>
      <div class="cta">
        <ul class="actions special">
          <li>
            <a href="{{ banner.text.ctaLink }}" class="button large wide scrolly">
              {{ banner.text.ctaText }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  {% if banner.video %}
  <video class="background" autoplay muted loop>
    <source src="{{ site.path.siteRoot }}{{ site.path.imageDir }}{{ banner.video.src }}" type="{{ banner.video.type }}">
  </video>
  {% endif %}

  {% if banner.picture %}
  <picture class="background">
    <source media="(orientation: portrait)"
      srcset="{{ site.path.siteRoot }}{{ site.path.imageDir }}{{ banner.picture.srcTall }}">

    <img src="{{ site.path.siteRoot }}{{ site.path.imageDir }}{{ banner.picture.srcWide }}"
      alt="{{ banner.picture.altText }}">
  </picture>
  {% endif %}

</section>