<section id="roadmap-4s" class="main alt">

  <header>
    <h2>{{ roadmap.text.headline }}</h2>
    <p>{{ roadmap.text.subHeadline | safe }}</p>
  </header>

  <div class="inner">
    <div class="stepper">
      {% for article in roadmap.features %}
      <article class="step {{ article.class}}">
        <div class="step-icon">
          <span class="{{ article.icon }}"></span>
        </div>
        <div class="step-content">
          <span class="step-label">{{ article.label }}</span>
          <h3>{{ article.heading }}</h3>
          <p>{{ article.caption | safe }}</p>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>

</section>
