---
title: "Quasar Systems"
layout: "templates/passthrough.njk"
permalink: "/"
---

{% set banner = layouts.banner %}
{% include "partials/layouts/banner.njk" %}

{% set deck = layouts.deck %}
{% include "partials/layouts/deck.njk" %}

<!-- How it works (exploded view) -->
<section id="why" class="main">
  <header>
    <h2>
      <span class="shrink">{{ sections.why.text.headline }}</span>
    </h2>
    <p>{{ sections.why.text.subHeadline }}</p>
  </header>
  <div class="inner">
    <img src="{{ site.path.siteRoot }}{{ site.path.imageDir }}{{ sections.why.picture.srcWide }}"
      alt="{{ sections.why.picture.altText }}">
  </div>
</section>

<section id="reassurance" class="main">
  <header class="accent2">
    <h2>
      <span class="shrink">
        {{ sections.reassurance.text.headline | safe }}
      </span>
    </h2>
    <p>{{ sections.reassurance.text.subHeadline }}</p>
    <ul class="actions special">
      <li>
        <a
          href="{{ sections.reassurance.text.ctaLink }}"
          class="button large wide scrolly">
          {{ sections.reassurance.text.ctaText }}
        </a>
      </li>
    </ul>
  </header>
</section>

{% set roadmap = layouts.roadmap %}
{% include "partials/layouts/roadmap.njk" %}
