---
title: "Quasar Systems"
layout: "templates/passthrough.njk"
permalink: "/"
---

{% set banner = layouts.banner %}
{% include "partials/layouts/banner.njk" %}

{% set deck = layouts.deck %}
{% include "partials/layouts/deck.njk" %}

<!-- How it works (exploded view) -->
<section id="why" class="main">
  <header>
    <h2>{{ sections.why.text.headline }}</h2>
    <p>{{ sections.why.text.subHeadline }}</p>
  </header>
  <div class="inner">
    <img src="{{ site.path.siteRoot }}{{ site.path.imageDir }}{{ sections.why.picture.srcWide }}"
      alt="{{ sections.why.picture.altText }}">
  </div>
</section>