<div class="inner">

  <section>
    <h3>{{ footer.brand.title }}</h3>
    <p>{{ footer.brand.copy }}</p>
    <ul class="icons">
      {% for item in footer.brand.content %}
      <li>
        <a class="icon" href="{{ item.link }}">
          <i class="{{ item.icon }}"></i>
          <span class="label">{{ item.name }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section class="narrow">
    <h4>{{ footer.solutions.title }}</h4>
    <ul class="links">
      {% for item in footer.solutions.content %}
      <li>
        {% if item.link %}
        <a href="{{ item.link }}">
          {% if item.icon %}
          <i class="{{ item.icon }}"></i>
          {% endif %}
          <span>{{ item.label }}</span>
        </a>
        {% else %}
          {% if item.icon %}
          <i class="{{ item.icon }}"></i>
          {% endif %}
          <span>{{ item.label }}</span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </section>

  <section class="narrow">
    <h4>{{ footer.legal.title }}</h4>
    <ul class="links">
      {% for item in footer.legal.content %}
      <li>
        <a href="{{ item.link }}">
          <i class="{{ item.icon }}"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h3>{{ footer.contact.title }}</h3>
    <p>{{ footer.contact.copy }}<p>
    <div class="cta">
      <ul class="actions">
        <li>
          <a
            href="{{ footer.contact.ctaLink }}"
            class="button scrolly">
            {{ footer.contact.ctaText }}
          </a>
        </li>
      </ul>
    </div>
  </section>

</div>

<div class="copyright">
    <p>{{ footer.copyright.copy | safe }}</p>
</div>