<title>{{ site.self.title }}</title>
<meta charset="utf-8" />
<meta 
  name="viewport"
  content="width=device-width, initial-scale=1, user-scalable=no"
/>
<link
  rel="stylesheet"
  href="{{ site.path.siteRoot }}{{ site.path.assetDir }}fontawesome/css/fontawesome.min.css"
/>
<link
  rel="stylesheet"
  href="{{ site.path.siteRoot }}{{ site.path.assetDir }}fontawesome/css/regular.min.css"
/>
<link
  rel="stylesheet"
  href="{{ site.path.siteRoot }}{{ site.path.assetDir }}fontawesome/css/solid.min.css"
/>
<link 
  rel="stylesheet"
  href="{{ site.path.siteRoot }}{{ site.path.assetDir }}css/main.css"
/>