
/* Icon */

.icon {
  @include icon;
  $icon-size: _size(element-height) * 1.75;

  border-bottom: none;
  position: relative;

  > .label {
    display: none;
  }

  &.major {
    display: block;
    margin: 0 0 (_size(element-margin) * 0.625) 0;
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    line-height: $icon-size;
    border-radius: $icon-size;
    font-size: $icon-size / 2.5;
    text-align: center;
  }
}

@mixin color-icon($p: null) {
  .icon {

    &.major {
      @if ($p != null) {
        box-shadow: inset 0 0 0 1px _palette($p, fg-bold);
        color: _palette($p, fg-bold);
      }
      @else {
        box-shadow: inset 0 0 0 1px transparentize(_palette(accent1, bg), 0.35);
        background-color: transparentize(_palette(accent1, bg), 0.925);
        color: _palette(accent1, bg);
      }
    }
  }
}

@include color-icon;