///
/// Hypothesis by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Links */

	ul.links {
		list-style: none;
		padding-left: 0;

		li {
			margin-top: 1rem;
			position: relative;
      padding-left: 0;

      a {
        border: none;
        text-decoration: none;

        i {
          margin-right: 0.25rem;
          font-size: .75rem;
          color: _palette(fg-light);
        }

        span {
          text-decoration-line: underline;
          text-decoration-style: dotted;
          text-decoration-thickness: 1px;
          text-underline-offset: 0.4em;
        }
      }

			&:first-child {
				margin-top: 0;
			}
		}
	}
