#why {
	.inner {
		display: flex;
		justify-content: center;

		img {
      // max-width: 100%;
      max-width: 850px;
      width: auto;
      height: auto;
      image-rendering: -webkit-optimize-contrast;
		}
	}
}