#header {
  &.alt {
    > .logo {
      height: 100%;

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  &:not(.alt) {
    > .logo {
      padding: 0.15rem 0;
      height: 100%;

      img {
        height: 100%;
        width: auto;
      }
    }
  }
}

#banner {
  h1 {
    font-size: 6rem;
  }

  .content {
    &.primary {
      &:has(+ .content.secondary) {
        padding-bottom: 0;
        margin-bottom: 4rem;
      }
    }

    &.secondary {
      &:has(+ .content.secondary) {
        padding-bottom: 0;
        margin-bottom: 4rem;
      }
    }
  }

  .content.primary+.content.secondary {
    padding-top: 0;
    margin-top: 4rem;
  }

  .content.secondary+.content.secondary {
    padding-top: 0;
    margin-top: 4rem;
  }
}

#deck {
  background-color: transparentize(_palette(bg), 0.15) !important;

  .deck {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: _size(padding, medium) * 0.75;

    article {
      $padding: _size(padding, medium);

      padding: ($padding * 0.5) ($padding * 0.75);
      position: relative;
      background: transparentize(_palette(bg-alt), 0.25);
      background-image: var(--card-image);
      border-radius: _size(border-radius);
      border: 1px solid _palette(accent1, border);
      box-shadow: 0 0.075rem 0.75rem 0 _palette(bg-shadow);

      img {
        height: _size(element-height) * 2.25;
        width: _size(element-height) * 2.25;
      }

      h3 {
        margin-bottom: _size(element-margin) * 0.5;
      }

      p {
        color: _palette(fg-light);
      }
    }
  }
}

#system {
  .inner {
    display: flex;
    justify-content: center;

    img {
      display: block;
      width: 100%;
      max-width: 850px;
      height: auto;
      margin: 0 auto;
    }
  }
}

#roadmap-4s {
  $icon-size: _size(element-height) * 2.25;
  $padding: _size(padding, default);

  background: #F8F9FB;
  position: relative;
  overflow: hidden;

  // subtle coordinate grid
  &:before {
    content: '';
    position: absolute;
    inset: 0;
    background-image:
      linear-gradient(90deg,
        rgba(159, 179, 200, .12) 1px,
        transparent 1px),
      linear-gradient(0deg,
        rgba(159, 179, 200, .12) 1px,
        transparent 1px);
    background-size: 40px 40px;
    pointer-events: none;

  }

  .stepper {
    position: relative;
    // margin-top: 4rem;
  }

  .step {
    position: relative;
    display: flex;
    gap: 2rem;
    padding-bottom: $padding / 2;

    // backbone
    &:not(:last-child):before {
      content: '';
      position: absolute;
      left: $icon-size / 2;
      top: 0;
      bottom: 0;
      width: 1px;
      background: _palette(fg);
    }

    &:hover {
      .step-icon {
        transform: scale(1.15);
      }

      .step-content>h3 {
        color: _palette(accent1, bg);
      }
    }
  }

  .step-icon {
    position: relative;
    z-index: 1;
    width: $icon-size;
    height: $icon-size;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: _palette(bg);
    border-radius: 50%;
    border: 1px solid _palette(border-bg);
    color: _palette(fg);
    font-size: 2rem;
    transition: transform .3s ease;
  }

  .step-content {
    position: relative;
    padding-top: $padding / 12;
    flex: 1;

    &>h3 {
      transition: color .3s ease
    }
  }

  .step-label {
    display: block;
    font-size: 1rem;
    letter-spacing: .15rem;
    color: _palette(fg);
    margin-bottom: $padding / 12;
  }

  // maturity states
  .step-start {
    .step-icon {
      border-style: dashed;
      border-color: _palette(fg-light);
      color: _palette(fg-light);
    }
  }

  .step-survey {
    .step-icon {
      border-color: _palette(fg);
    }
  }

  .step-solve {
    .step-icon {
      border-color: _palette(fg-bold);
      color: _palette(fg-bold);
    }
  }

  .step-scale {
    .step-icon {
      background: _palette(accent1, bg);
      border-color: _palette(accent1, bg);
      color: _palette(fg-bold);

      &:after {
        content: '';
        position: absolute;
        inset: -.5rem;
        border-radius: 50%;
        border: 1px solid transparentize(_palette(accent1, bg), 0.35);
      }
    }
  }
}

.cta-microcopy {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;

  .microcopy {
    width: 45ch;

    p {
      font-family: _font(family-alt);
      font-size: 0.95rem;
      font-style: italic;
      text-align: center;
      line-height: 1.25rem;
    }
  }

  .cta {
    flex-shrink: 0;
  }
}

@include breakpoint('<=medium') {
  #deck {
    .deck {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;

      article {
        width: 80%;
      }
    }
  }
}

@include breakpoint('<=small') {
  #deck {
    .deck {
      article {
        width: 90%;
      }
    }
  }
}

@include breakpoint('<=xsmall') {
  #deck {
    .deck {
      article {
        width: 100%;
      }
    }
  }
}

// @media screen and (max-width: 736px) {
//     #industries {
//         .industries-grid {
//             grid-template-columns: 1fr;
//         }
//     }
// }

  //   // mobile
  //   @include breakpoint('<=medium') {
  //     .stepper {
  //       &:before {
  //         left: 1.5rem;
  //       }
  //     }

  //     .step {
  //       gap: 1.5rem;
  //     }

  //     .step-icon {
  //       width: 3rem;
  //       height: 3rem;
  //       font-size: 1rem;
  //     }

  //     .step-content {
  //       &:before {
  //         left: -1.5rem;
  //       }
  //     }
  //   }